@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tld-yellow: #fad720;
  --font-sf: var(--font-sf-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}
