@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sf: var(--font-sf-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button{
  cursor: pointer;
}
